<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="theme.css">
</head>

<body>
    <div class="container" id="root">
        <div class="card">
            <h1>Список заметок</h1>
            <div class="form-control">
                <input type="text" :placeholder="placeholder" v-model="inputValue" @keypress.enter="addNewNoteHandler">
            </div>
            <button @click="addNewNoteHandler" class="btn">Добавить</button>
            <hr />
            <ul class="list" v-if="notes.length">
                <li v-for="note in notes" class="list-item" :key="note">
                    {{note.toUpperCase()}}
                    <button @click="deleteNote(note)" class="btn danger">Удалить заметку</button>
                </li>
                <b>Общее количество заметок: {{notes.length}}</b> | <b>Удвоенное: {{doubleCount}}</b>
            </ul>
            <h2 v-else>Заметок нет</h2>
        </div>
    </div>
<!-- TODO: 1:17:32 -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
</body>

</html>
